{% extends 'base.html.twig' %}
{% block title %}
    Covid-dashboard
{% endblock %}
{% block body %}
    </br>
    <h1 class="text-center">{{ title }}</h1>

    <blockquote class="blockquote text-center">
        </br>
        <p class="mb-0">Ce site web permet a aux utilisateurs d'obtenir diverses informations en lien avec
        le covid-19 en France. Vous trouverez ci-dessous de nombreux graphiques permettants les différentes courbes d'évolution du virus</p> 
    </blockquote>
    
    <img src="images/etat-covid.jpg" alt="etat-covid">

    <button type="button" class="btn btn-outline-info">Plus d'informations</button>
    
{% endblock %}