<?php

?>

{% extends 'base.html.twig' %}

{% block title %} Etat-Covid {% endblock %}


{% block body %}

    <blockquote class="blockquote text-center">
        </br>
        <p class="mb-0"> Ici, il est possible d'obtenir les informations du Covid-19 pour chaque région à l'aide de cette carte.</p> 
    </blockquote>

    </br>

    {% if connexion %}
        <p> Bdd ok </p>
    {% else %}
        <p> bdd non ok </p>
    {% endif %}

    $connexion = test;

    <img src="images/CarteFrance.jpg" alt="CarteFrance" usemap='#region'>

        <map name='region'>

            <area 
                shape="poly" 
                coords="137,189,133,193,132,209,159,201,164,217,143,211,142,220,156,221,155,229,145,228,133,231,146,238,152,254,167,248,193,259,215,272,255,288,270,284,270,275,277,271,296,270,297,266,305,262,313,265,324,252,331,248,329,227,330,206,323,203,312,209,304,198,294,196,289,193,291,191,287,188,281,195,243,198,225,172,203,173,197,184,184,182,179,185,175,179,157,183,148,185,146,188" 
                alt="Bretagne" 
                target="Bretagne" 
                a href="bdd.php" >
            <area 
                shape="poly" 
                coords="290,107,295,122,297,133,303,138,303,146,307,148,305,157,308,164,309,174,306,179,307,186,312,190,316,192,315,196,308,196,307,202,313,208,323,204,327,206,335,208,341,207,345,211,349,212,355,210,360,209,373,209,373,204,378,206,380,210,386,215,385,219,389,219,403,212,408,214,408,222,418,232,423,230,426,232,431,236,430,227,439,220,438,206,432,201,433,196,435,193,442,193,450,188,455,190,462,188,462,184,468,177,466,168,470,164,476,164,480,153,486,148,482,136,482,114,485,108,481,97,467,85,449,95,425,100,403,110,396,126,398,130,409,132,407,135,399,136,390,143,381,145,370,141,356,140,346,137,338,135,332,138,330,132,325,124,328,115,325,110,318,108,314,110,306,111,291,106" 
                alt="Normandie" 
                target="Normandie"  
                href="www.google.fr" >
            <area 
                shape="poly" 
                coords="485,11,478,19,478,29,477,33,479,43,480,47,476,60,481,74,475,72,469,84,480,95,488,110,484,123,483,140,484,154,489,158,498,155,510,158,513,156,528,163,539,166,540,163,544,164,558,161,560,166,560,170,576,181,585,168,582,160,590,157,586,145,597,137,604,139,606,117,614,108,613,90,609,87,611,84,614,78,610,77,612,68,606,61,588,61,586,50,576,46,567,47,560,24,547,28,547,31,542,30,537,23,533,22,531,13,526,0,485,12,485,11,487,11"
                alt="Haut-de-France" 
                target="Haut-de-France"  
                href="www.pierre-giraud.com/creer-carte-interactive-html/" >
            <area 
                shape="poly" 
                coords="471,168,468,174,474,182,475,199,485,205,486,214,492,215,497,228,505,228,507,224,509,227,513,226,517,226,519,230,525,235,523,240,546,239,553,234,553,224,574,220,573,209,577,207,579,201,572,189,577,184,560,172,559,165,556,162,545,166,541,164,539,167,520,162,514,157,510,159,497,156,487,160,483,156,471,168" 
                alt="Ile-de-France" 
                target="Ile-de-France"  
                href="www.pierre-giraud.com/creer-carte-interactive-html/" >
            <area 
                shape="poly" 
                coords="615,91,615,104,617,107,611,116,607,118,606,140,599,140,587,146,591,158,585,161,585,166,589,170,579,182,578,185,574,190,581,200,578,209,575,210,574,220,578,222,584,228,588,241,590,238,601,256,622,257,624,255,634,254,638,248,649,250,654,258,660,261,661,266,658,268,659,275,676,280,676,283,685,280,685,279,691,272,695,276,700,275,701,261,707,260,709,253,720,248,730,252,736,249,744,255,749,252,759,260,772,265,773,278,777,278,779,285,783,285,784,289,789,291,798,289,798,283,801,284,801,279,804,278,805,272,802,271,805,242,801,239,801,233,810,214,812,193,827,175,830,160,800,156,793,154,790,147,787,147,783,151,775,152,769,151,765,146,757,145,758,151,751,149,750,147,745,138,742,133,736,127,729,126,724,124,719,124,717,128,716,129,713,129,707,125,704,125,701,121,692,123,685,125,683,126,679,118,676,118,675,114,672,111,666,112,662,106,658,104,651,104,649,97,651,94,647,88,646,81,649,79,649,74,644,74,641,78,639,87,632,91,616,92" 
                alt="Grand-Est" 
                target="Grand-Est"  
                nohref="nohref" >
            <area 
                shape="poly" 
                coords="554,224,554,233,550,239,558,249,558,257,552,262,552,269,544,274,547,278,550,289,547,288,545,291,546,296,548,302,545,308,548,311,552,317,553,327,556,331,555,352,561,358,570,359,573,357,580,361,587,355,597,372,608,376,610,384,608,390,605,394,612,401,619,399,622,400,630,396,631,390,638,390,642,390,645,389,653,396,661,369,667,372,676,371,683,375,688,385,693,386,694,389,697,391,700,384,706,386,708,389,719,386,726,377,728,366,731,359,746,347,746,331,749,328,755,328,759,324,758,317,770,308,771,302,776,297,769,297,769,292,773,285,782,285,778,283,777,280,772,280,771,268,750,255,742,255,737,251,729,253,721,249,711,254,709,260,707,263,702,262,702,276,695,277,691,273,685,282,678,284,675,282,658,277,657,268,658,265,659,262,649,255,647,251,640,250,635,255,627,257,602,259,591,242,587,243,584,231,574,222,555,224" 
                alt="Bourgogne-Franche-Comté" 
                target="Bourgogne-Franche-Comté"  
                nohref="nohref" >
            <area 
                shape="poly"
                coords="323,446,318,452,309,519,313,510,319,513,321,522,315,523,314,521,310,524,308,528,302,563,293,602,282,621,273,624,274,630,282,629,281,633,284,632,287,630,294,633,295,640,289,648,292,650,297,650,298,646,301,646,298,650,305,651,309,654,315,656,319,659,329,660,332,659,334,665,337,667,344,673,346,671,352,674,356,672,357,658,362,654,362,648,371,639,372,632,374,632,374,624,371,623,372,620,370,613,359,610,359,606,363,593,362,582,377,579,379,583,381,582,381,578,386,578,387,576,400,576,405,572,417,573,424,566,427,568,428,564,432,558,429,553,428,549,440,547,436,536,448,520,455,519,454,514,460,509,462,495,475,494,484,501,488,498,496,498,503,495,508,476,523,462,519,428,527,419,525,400,517,391,508,382,505,382,499,382,486,379,481,383,466,384,463,388,459,385,449,386,450,381,444,373,433,367,434,358,423,342,423,337,418,334,418,337,402,338,399,336,398,328,395,328,394,324,388,320,379,327,375,325,357,325,352,332,336,333,337,337,344,346,350,368,350,380,353,381,341,389,336,387,327,386,328,384,322,386,322,390,316,398,321,400,325,409,323,413,323,420,319,424,319,429,314,429,314,435,319,437,326,442,333,450,338,456,341,465,342,473,340,474,336,466,333,463,328,459,324,453,322,447" 
                alt="Nouvelle-Aquitaine" 
                target="Nouvelle-Aquitaine"  
                nohref="nohref" >
            <area 
                shape="poly" 
                coords="365,585,365,594,361,608,371,612,373,618,373,622,377,622,376,632,374,634,374,639,365,650,364,656,361,657,358,660,357,669,359,670,369,676,371,681,375,682,382,680,389,680,393,684,395,684,397,681,400,682,402,684,415,684,417,671,424,671,444,677,444,681,458,682,463,691,466,688,472,688,474,690,477,690,485,695,480,699,482,701,493,704,496,711,497,712,502,711,504,707,513,706,526,712,536,712,536,707,546,707,552,701,567,706,566,702,559,697,558,660,576,636,587,636,596,626,605,620,615,614,621,613,623,618,628,620,632,614,640,612,639,607,644,601,649,603,650,590,661,578,654,570,654,561,651,556,643,552,639,552,636,555,635,551,626,557,614,548,605,527,604,519,592,508,587,508,587,511,579,511,578,503,575,499,565,508,561,507,553,527,550,522,549,515,546,514,545,509,539,504,531,511,530,517,525,526,523,528,514,526,507,529,502,525,505,515,500,508,498,500,502,497,501,496,497,499,489,498,485,502,474,495,463,496,461,510,455,514,456,520,449,521,438,536,441,547,430,550,431,555,434,556,428,564,428,569,424,568,419,575,406,575,401,578,388,577,386,581,383,580,381,585,377,585,377,581,366,584" 
                alt="Occitanie" 
                target="Occitanie"  
                nohref="nohref" >
            <area 
                shape="poly" 
                coords="834,616,835,639,830,640,823,639,819,644,804,650,803,654,799,655,797,657,797,663,792,668,791,673,797,674,796,679,793,681,793,689,805,695,801,698,798,708,807,706,809,713,804,722,817,725,810,729,810,733,817,739,831,744,834,747,837,748,845,730,842,728,847,720,846,697,853,684,850,662,849,649,843,643,844,624,842,620,842,616,841,614,838,613,835,615" 
                alt="Corse" 
                target="Corse" 
                nohref="nohref" >
            <area 
                shape="poly" 
                coords="742,483,740,488,743,492,748,496,748,504,742,503,727,508,725,511,719,513,717,523,709,524,706,530,711,534,708,538,701,536,698,541,698,546,712,553,712,561,706,562,701,567,696,565,693,560,683,560,681,554,673,553,663,557,658,552,651,552,651,555,655,560,655,569,663,578,652,590,650,605,645,603,640,607,641,613,634,615,630,621,647,621,651,624,649,628,653,630,659,629,663,629,666,631,668,629,667,627,667,623,673,623,677,631,691,630,693,628,695,628,695,631,695,634,697,636,695,639,707,640,709,642,715,641,724,646,724,649,727,651,731,649,732,646,735,647,736,648,742,650,746,646,750,643,757,646,757,643,767,638,774,638,775,632,770,630,778,623,777,619,785,618,788,614,790,607,795,607,797,605,799,604,800,600,807,595,811,595,813,592,818,591,821,586,820,581,821,578,824,572,827,571,830,566,831,563,830,557,829,554,825,556,812,559,810,557,806,558,801,554,793,552,789,549,783,542,783,538,785,535,783,532,781,531,780,526,783,524,784,524,784,518,788,515,792,513,788,507,787,502,785,501,778,500,777,500,772,495,771,489,768,487,766,486,764,481,757,483,754,487,743,483" 
                alt="Provence-Alpes-Cote d&apos;Azur" 
                target="Provence-Alpes-Cote d&apos;Azur" 
                href="www.pierre-giraud.com/creer-carte-interactive-html/" >

            <area 
                shape="poly" 
                coords="270,285,254,289,253,292,248,293,249,303,252,304,255,302,260,307,269,302,276,303,268,305,267,309,267,313,262,315,272,319,276,324,275,327,266,338,267,343,280,357,283,370,294,376,299,376,303,382,308,382,317,389,318,385,321,385,331,382,329,385,338,386,341,387,351,382,349,379,349,368,344,347,336,338,335,332,350,331,357,324,377,324,379,326,387,318,394,302,397,282,405,285,405,281,410,281,419,277,419,271,423,270,432,258,432,249,430,247,432,242,432,238,422,231,418,233,410,226,407,221,407,215,403,213,390,220,384,221,384,215,380,213,379,209,376,206,374,205,374,209,358,210,349,213,345,212,341,208,334,208,331,208,330,221,332,248,325,253,315,266,305,263,298,266,297,271,277,271,270,275,270,284" 
                alt="Pays de la Loire" 
                target="Pays de la Loire"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="435,194,432,199,438,205,440,221,432,227,432,236,433,239,433,243,431,246,433,249,433,258,426,270,421,272,421,276,410,283,406,283,406,287,399,284,396,293,394,304,391,313,388,319,394,322,396,327,399,327,400,331,401,336,417,336,417,333,424,337,424,342,436,358,435,367,446,373,450,380,450,385,460,385,463,386,465,383,479,383,485,378,500,381,508,381,512,381,516,373,528,372,530,369,528,364,529,361,533,359,541,356,547,351,554,352,555,331,552,327,551,318,547,310,544,307,547,302,544,290,546,287,549,288,546,278,543,274,551,268,551,262,557,257,557,250,549,240,521,241,523,236,518,231,516,227,511,227,507,226,506,228,496,228,491,216,485,215,484,205,475,200,473,182,469,176,463,183,463,189,456,191,451,189,444,193,435,193" 
                alt="Centre-Val de Loire" 
                target="Centre-Val de Loire"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="517,373,512,383,522,393,528,403,529,411,531,419,520,430,524,438,525,445,523,449,524,466,520,466,508,479,509,484,505,491,503,499,500,501,500,505,506,513,504,523,508,527,513,525,523,526,529,517,529,508,539,501,547,505,550,512,553,524,561,506,565,506,575,498,580,502,581,509,586,510,587,505,591,506,606,518,606,524,611,536,618,549,626,554,636,549,637,551,639,550,646,550,650,554,650,549,658,550,663,555,674,552,679,552,682,550,683,557,693,558,697,563,700,566,706,559,710,560,710,554,696,546,696,542,700,534,707,537,708,534,704,531,707,521,717,522,717,512,724,509,731,506,740,502,743,501,746,502,747,497,741,492,739,486,740,481,753,485,758,480,764,480,770,478,774,477,777,478,782,472,788,470,791,469,792,455,782,448,781,438,772,431,771,426,771,421,779,420,782,415,783,410,777,403,775,404,774,398,769,396,772,385,767,381,766,376,752,376,748,377,746,380,743,380,739,380,737,385,736,388,740,388,740,392,736,393,733,398,726,399,722,397,722,394,726,391,729,390,730,386,732,381,727,378,723,383,717,387,712,390,707,389,703,386,699,389,698,392,694,390,692,386,688,387,681,375,676,373,667,373,661,371,653,399,646,391,633,391,631,397,625,401,618,400,613,402,604,395,609,386,609,384,607,377,596,372,587,356,580,362,573,358,569,360,562,359,554,352,547,352,544,356,533,359,529,363,530,367,531,369,529,373,528,373,517,373"
                alt="Auvergne-Rhone-Alpes" 
                target="Auvergne-Rhone-Alpes"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="7,233,2,241,1,248,5,258,5,275,13,285,14,290,25,287,34,276,69,300,76,301,82,297,84,292,78,285,85,246,77,243,74,237,59,235,55,228,54,215,45,210,39,218,37,222,39,229,43,230,41,234,37,236,35,242,31,243,30,245,27,244,22,238,9,233" 
                alt="Guadeloupe" 
                target="Guadeloupe"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="17,318,9,324,7,332,16,340,14,347,19,357,28,367,42,369,47,375,45,379,38,376,33,378,30,383,32,386,31,391,34,394,41,389,51,390,57,393,62,391,64,394,68,393,68,396,65,401,67,404,71,404,78,392,75,379,70,365,64,363,58,358,64,350,57,347,57,342,60,344,64,345,65,340,67,339,65,335,54,342,45,331,21,318,16,319" 
                alt="Martinique" 
                target="Martinique"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="17,418,17,424,8,430,3,439,4,458,7,466,19,479,14,491,13,502,5,517,16,524,20,518,28,517,40,517,41,520,44,519,47,518,50,521,58,514,68,495,68,489,86,464,87,460,84,452,80,447,77,448,76,446,69,442,69,439,65,439,54,428,49,426,22,417,20,419,18,418" 
                alt="Guyane" 
                target="Guyane"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="9,549,9,560,5,562,2,569,10,581,12,591,16,594,18,600,23,600,29,606,55,614,78,610,82,607,81,593,87,583,85,578,79,573,67,559,66,552,60,545,30,540,24,541,16,548,11,548" 
                alt="La Réunion" 
                target="La Réunion"  
                nohref="nohref" >

            <area 
                shape="poly" 
                coords="32,642,21,649,21,659,28,663,35,665,36,684,42,694,42,706,27,699,31,706,31,714,37,720,47,725,58,719,50,713,63,693,57,684,63,672,67,663,53,655,44,655,32,641" 
                alt="Mayotte" 
                target="Mayotte"  
                nohref="nohref" >

        </map>


        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Informations sur la région sélectionnée</div>
             <div class="card-body">
                    <p class="card-text">Nom de la région :</p>
                    <p class="card-text">Décès :</p>
                    <p class="card-text">Guéris :</p>
                    <p class="card-text">Hospitalisations :</p>
                    <p class="card-text">Réanimations :</p>
             </div>
        </div>



{% endblock %}
