{% extends 'base.html.twig' %}

{% block title %} Graphiques {% endblock %}

{% block body %}

    </br>
    <h1 class="text-center">Sélection d'une region / Departement : </h1>

    <div class="form-group">
    <br />
    <select class="custom-select">
      <option selected="">Choisir un département</option>
    </select>
  </div>

{% endblock %}